.about-reviews {
  padding-bottom: 45px;
  padding-top: 30px;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    padding-top: 79px;
    padding-bottom: 118px;
    display: grid;
    grid-template-columns: 1fr 175px;
    grid-template-rows: repeat(3, min-content);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 161px;
  }
}

.about-reviews__heading {
  @media (min-width: $tablet-width) {
    margin-top: 4px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 19px;
  }
}

.about-reviews__list {
  padding: 0;
  list-style: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-shadow:
      -1px -1px 3px var(--clear-background),
      2px 2px 0 var(--clear-background);
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
}

.about-reviews__list-item {
  font-size: 15px;
  line-height: 200%;
  color: var(--light-type);
}

.about-reviews__blockquote {
  margin: 0;

  & p {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      font-size: 17px;
      line-height: 176%;
      margin-bottom: 61px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 44px;
    }
  }
}

.about-reviews__author {
  font-style: normal;
  font-size: 17px;
  line-height: 176%;
}

.about-reviews__author-name {
  color: var(--basic-type);
  font-weight: bold;
  line-height: 141%;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 133%;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 141%;
  }
}

.about-reviews__buttons {
  display: flex;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
  margin-top: 29px;
  margin-bottom: 38px;
  grid-row: 3 / -1;
  grid-column: 2 / -1;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 3px;
  }
}

.about-reviews__write-button {
  @media (max-width: $mobile-width-only) {
    order: 1;
  }

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    margin-bottom: auto;
  }
}
