.about-reviews__list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.about-reviews__item {
  font-size: 15px;
  line-height: 200%;
  color: var(--light-type);
}

.about-reviews__blockquote {
  margin: 0;

  & p {
    margin-bottom: 30px;
  }
}

.about-reviews__author {
  font-style: normal;
  font-size: 17px;
  line-height: 176%;
}

.about-reviews__author-name {
  color: var(--basic-type);
  font-weight: bold;
  line-height: 141%;
}

.about-reviews__buttons {
  margin-top: 29px;
  margin-bottom: 38px;
}
