.catalog-video {
  padding-top: 15px;
  padding-bottom: 58px;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
    padding-bottom: 105px;
  }
}

.catalog-video__box {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 683px 1fr;
    grid-template-rows: 158px 1fr;
    min-height: 455px;
  }

  // hover here
}

.catalog-video__image {
  width: 100%;
  display: block;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 100%;
  }
}

.catalog-video__frame {
  position: relative;
  cursor: pointer;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 96px;
    width: calc(100% - 60px);
  }

  &::before {
    content: url("../img/icon-play.svg");
    position: absolute;
    z-index: 1;
    left: calc(50% - 50px);
    top: calc(50% - 38px);
  }

  &:hover,
  &:focus {
    &::before {
      transform: scale(1.2);
    }
  }

  &:active::before {
    transform: scale(0.8);
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    height: 100%;
  }
}

.catalog-video__text {
  border: 1px solid var(--thin-border);
  padding-bottom: 32px;
  padding-left: 33px;
  padding-top: 22px;
  padding-right: 33px;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-top: 35px;
    padding-bottom: 45px;
    padding-right: 39px;
    padding-left: 39px;

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  @media (min-width: $desktop-width) {
    border: 1px solid var(--thin-border);
    border-left: none;
    padding-left: 78px;
    padding-right: 56px;
    padding-bottom: 59px;
    padding-top: 0;
    grid-row: 1 / -1;

    &:hover {
      box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.catalog-video__heading {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 141%;
  display: flex;
  align-items: center;
  border-bottom: none;

  @media (max-width: $mobile-width-only) {
    margin-bottom: calc(55% + 106px);
    min-height: 46px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    margin-left: 2px;
    font-size: 20px;
    line-height: 120%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
    margin-left: 0;
    position: relative;
    padding-top: 96px;
  }

  &::before {
    content: url("../img/icon-video.svg");
    display: block;
    margin-right: 25px;
    transform: translateY(2px);

    @media (min-width: $tablet-width) {
      margin-right: 33px;
      transform: translateY(-1px);
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      margin: 0;
      top: 43px;
    }
  }
}

.catalog-video__description {
  font-size: 13px;
  line-height: 185%;
  margin: 0;
  margin-bottom: 41px;
  margin-right: -5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 200%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.catalog-video__button-box {
  position: absolute;
  display: flex;
  justify-content: center;
  width: calc(100% - 60px);
  padding-right: 34px;
  padding-left: 34px;
  bottom: 33px;

  @media (min-width: $tablet-width) {
    bottom: 46px;
    padding: 0;
    margin: 0;
    width: auto;
    right: 92px;
  }

  @media (min-width: $desktop-width) {
    bottom: 60px;
    right: 107px;
  }
}

.catalog-video__button {
  @media (min-width: $tablet-width) {
    max-width: none;
    width: auto;
    margin-right: 2px;
    margin-left: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin: 0;
  }
}
