.category-list {
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 0;
  }
}

.category-list__item {
  @media (min-width: $tablet-width) {
    flex-basis: 334px;
    flex-grow: 1;
  }
}

.category-list__link {
  display: flex;
  justify-content: space-between;
  color: var(--basic-type-contrast);
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 126%;
  padding-top: 26px;
  padding-bottom: 31px;
  padding-right: 100px;
  padding-left: 30px;
  position: relative;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
    padding-left: 36px;
  }

  svg {
    position: absolute;
    fill: var(--category-icon);
  }
}

.category-list__interior-goods {
  background-color: var(--category-light-background);

  svg {
    top: 23px;
    right: 36px;

    @media (min-width: $tablet-width) {
      top: 30px;
      right: 37px;
    }
  }
}

.category-list__toys {
  background-color: var(--category-dark-background);

  svg {
    top: 21px;
    right: 27px;
    @media (min-width: $tablet-width) {
      top: 32px;
      right: 34px;
    }
  }
}
