.category-list {
  list-style: none;
  @media (min-width: $tablet-width) {
    padding-right: 50px;
    padding-left: 50px;
    margin: 0;
  }
}

.category-list__item {
  flex-grow: 1;
}

.category-list__link {
  display: block;
  color: var(--basic-type-contrast);
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 126%;
  padding-top: 24px;
  padding-bottom: 31px;
}

.category-list__interior-goods {
  background-color: var(--category-light-background);
}

.category-list__toys {
  background-color: var(--category-dark-background);
}
