.contacts {
  padding-top: 38px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 105px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 52px;
    grid-column-gap: 50px;
  }
}

.contacts__heading {
  margin-bottom: 12px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 34px;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 81px;
      border: 2px solid #231F20;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      border: 19px solid transparent;
      border-left: 39px solid var(--main-theme);
      transform: translate(8px, 4px);
    }

    &::before, &::after {
      left: 618px;
      top: -23px;
    }
  }

  @media (max-width: $mobile-width-only) {
    font-weight: bold;
    font-size: 18px;
    line-height: 167%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;

    &::before, &::after {
      right: auto;
      left: -112px;
      top: -17px;
    }
  }
}

.contacts__text {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding-top: 79px;
  }
}

.contacts__box {
  display: flex;
  align-items: baseline;

  @media (max-width: 318px) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__box-heading {
  flex-basis: 15vw;
  white-space: nowrap;
}

.contacts__box-info {
  margin-left: 30px;
  max-width: 300px;
  min-width: 180px;

  @media (max-width: 318px) {
    margin-left: 0;
  }

  @media (min-width: $tablet-width) {
    min-width: 258px;
    margin-left: 25px;
  }
}

.contacts__mobile-bracket {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.contacts__email,
.contacts__address {
  font-size: 15px;
  line-height: 200%;
  color: var(--light-type);

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 176%;
  }
}

.contacts__link {
  color: inherit;
  text-decoration: none;

  span {
    position: relative;
  }

  span::after {
    content: "";
    height: 1px;
    bottom: -3px;
    width: 100%;
    position: absolute;
    display: block;
    background-color: var(--theme-lines);
  }

  &:hover,
  &:focus {
    color: var(--main-theme-dark);

    span::after {
      background-color: var(--theme-lines-dark);
    }
  }

  &:active {
    span::after {
      opacity: 0.1;
    }
  }
}

.contacts__map {
  margin-bottom: 36px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-row: 1 / -1;
    grid-column-end: -1;
    margin-bottom: -3px;
  }
}

.contacts__hiding-box {
  position: absolute;
  z-index: -1;
  width: 100%;

  &::before {
    content: url("../../img/icon-map-pin.svg");
    position: absolute;
    left: calc(50% - 22px);
    top: calc(50% - 83px);


    @media (min-width: $tablet-width) {
      left: calc(50% - 20px);
      top: calc(50% - 91px);
    }

    @media (min-width: $desktop-width) {
      left: calc(50% - 24px);
      top: calc(50% - 83px);
    }
  }
}

.contacts__map-image {
  height: auto;
  width: auto;
  margin: 0 auto;
  display: block;
}

.contacts__map-frame {
  border: none;
  width: 100%;
}

.contacts__button-box {
  padding-right: 30px;
  padding-left: 30px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contacts__write-button {
  @media (min-width: $tablet-width) {
    max-width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
