.contacts__heading {
  margin-bottom: 12px;
  position: relative;
  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 34px;

    &::before {
      content: url(../../img/icon-flag.svg);
      position: absolute;
      right: 3px;
      top: -23px;
    }
  }
  @media (max-width: $mobile-width-only) {
    font-weight: bold;
    font-size: 18px;
    line-height: 167%;
  }
}

.contacts__text {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 33px;
  }
}

.contacts__box {
  display: flex;
  align-items: baseline;

  @media (max-width: 318px) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__box-heading {
  flex-basis: 15vw;
  white-space: nowrap;
}

.contacts__box-info {
  margin-left: 30px;
  max-width: 300px;
  min-width: 180px;

  @media (max-width: 318px) {
    margin-left: 0;
  }

  @media (min-width: $tablet-width) {
    min-width: 258px;
    margin-left: 25px;
  }
}

.contacts__mobile-bracket {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.contacts__email,
.contacts__address {
  font-size: 15px;
  line-height: 200%;
  color: var(--light-type);

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 176%;
  }
}

.contacts__link {
  color: inherit;
  text-decoration: none;

  span {
    position: relative;
  }

  span::after {
    content: '';
    height: 1px;
    bottom: -3px;
    width: 100%;
    position: absolute;
    display: block;
    background-color: var(--theme-lines);
  }
}

.contacts__map{
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.contacts__map-image {
  left: calc(50% - 161px);
  position: absolute;
  z-index: -1;
  height: 457px;
}

.contacts__map-frame {
  border: none;
}

.contacts__write-button {
  @media (min-width: $tablet-width) {
    max-width: 230px;
  }
}
