.featured {
  padding-top: 31px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 54px;
    display: grid;
    grid-template-columns: 292px 1fr;
    grid-template-rows: repeat(4, min-content) 52px;
    grid-column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    padding-bottom: 70px;
    grid-column-gap: 58px;
  }
}


.featured__heading {
  min-height: 35px;
  order: -1;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: -1;

  @media (min-width: $tablet-width) {
    min-height: 89px;
    max-width: 540px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
    min-height: 0;
  }
}

.featured__emphasis {
  margin: 0;
  color: var(--main-theme);
  font-weight: bold;
  font-size: 17px;
  line-height: 118%;
  text-transform: uppercase;
  grid-column-start: 1;

  @media (min-width: $tablet-width) {
    text-align: center;
    position: absolute;
    right: 63px;
    top: 60px;
    width: 100px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    left: -143px;
    top: 142px;
  }
}

.featured__description {
  font-size: 15px;
  color: var(--light-type);
  line-height: 160%;
  grid-column-start: 1;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 176%;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 9px;
  }
}

.featured__specifications-table {
  font-size: 15px;
  line-height: 133%;
  color: var(--light-type);
  margin-bottom: 29px;
  grid-column-start: 1;
  border-collapse: collapse;
  margin-top: 7px;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.featured__image {
  width: 100%;
}

.featured__image-box {
  display: block;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 2;
    grid-column-end: -1;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -3px;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: 1;
    grid-row-end: -1;
    z-index: -1;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.featured__table-cell {
  border-bottom: 1px solid var(--thin-border);
  font-weight: normal;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 12px;
  min-width: 79px;

  @media (min-width: $tablet-width) {
    min-width: 0;
  }
}

.featured__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 141%;
  color: var(--light-type);
  grid-column-start: 1;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 25px;
  margin-right: 2px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 120%;
    margin-top: auto;
    margin-bottom: 32px;
    margin-right: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.featured__button {
  grid-column-start: 1;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: none;
    margin-top: auto;
  }
}
