.form-name__legend {
  padding-right: 17px;
}

.form-name__list {
  @media (min-width: $tablet-width) {
    margin-top: -2px;
  }
}

.form-name__list-item:not(:last-child) {
  margin-bottom: 22px;
}

.form-name__list-item {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form-name__label {
  @media (min-width: $tablet-width) {
    margin-right: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 3px;
    margin-right: 23px;
  }
}
