.main-nav {
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 2;
  display: block;
  padding: 0;
  width: 79px;
  height: 79px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover,
  &:active {
    opacity: var(--link-opacity-hover);
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 28px;
  width: 20px;
  height: 2px;
  background-color: var(--basic-type);
  box-shadow: 0 6px 0 0 var(--basic-type), 0 12px 0 0 var(--basic-type);
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(var(--basic-type), 30%);
  box-shadow:
    0 8px 0 0 fade(var(--basic-type), 30%),
    0 16px 0 0 fade(var(--basic-type), 30%);
}

@media (max-width: $mobile-width-only) {
.main-nav--closed .main-nav__list-item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 38px;
    right: 27px;
    width: 28px;
    height: 2px;
    background-color: var(--basic-type);
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav__list-link,
.main-nav__search-form {
  position: relative;
}

.main-nav__search-box {
  @media (min-width: $tablet-width) {
    border-color: var(--thin-border);
    border-style: solid;
    border-width: 0 1px;
  }
}

.main-nav__list-link,
.main-nav__search-input::placeholder {
  font-size: 17px;
  line-height: 141%;
  color: var(--basic-type);
  font-weight: bold;
}

.main-nav__search-input::placeholder {
  letter-spacing: 0.5px;

  @media (min-width: $tablet-width) {
    font-size: 0;
  }
}

.main-nav__list-link,
.main-nav__search-input {
  display: block;
  text-decoration: none;
  border: none;
  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 75px;
  padding-right: 50px;
  border-color: var(--thin-border);
  border-top-style: solid;
  border-top-width: 1px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 33px;
    padding-bottom: 32px;
    padding-left: 82px;
    padding-right: 0;
  }
}

.main-nav__search-input {
  padding-top: 30px;
  padding-bottom: 29px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 82px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 34px;
    padding-bottom: 35px;
  }
}

.main-nav__cart-link {
  @media (min-width: $tablet-width) {
    max-width: 265px;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__tablet-bar {
  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.main-nav__main {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__icon {
  position: absolute;
  top: 31px;
  left: 31px;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    top: 35px;
  }
}

.main-nav__search-icon {
  @media (min-width: $tablet-width) {
    left: 33px;
    top: 36px;
  }
}

.main-nav__search-n-cart {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
  }
}

.main-nav__extrabar {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav__emphasis-wrapper {
  position: absolute;
  bottom: 20px;
}

.main-nav__emphasis {
  display: none;
  font-size: 15px;
  line-height: 160%;
  color: var(--light-type);
  text-align: right;
  box-sizing: border-box;
  padding-left: 330px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
