.main-list__item {
  @media (min-width: $tablet-width) {
    margin-right: 36px;
  }
}

.main-list__item:last-child {
  @media (min-width: $tablet-width) {
    margin-right: 230px;
  }
}

.main-list__link {
  @media (min-width: $tablet-width) {
    padding-left: 0;
    font-size: 15px;
    line-height: 160%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
