.main-nav {
  width: 100%;
  position: relative;
  border-color: var(--thin-border);
  border-bottom-style: solid;
  border-bottom-width: 1px;

  @media (min-width: $tablet-width) {
    width: max-content;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -79px;
  right: 0;
  z-index: 2;
  display: block;
  padding: 0;
  width: 79px;
  height: 79px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover,
  &:active {
    opacity: var(--link-opacity-hover);
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 28px;
  width: 20px;
  height: 2px;
  background-color: var(--basic-type);
  box-shadow: 0 6px 0 0 var(--basic-type), 0 12px 0 0 var(--basic-type);
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(var(--basic-type), 30%);
  box-shadow:
    0 8px 0 0 fade(var(--basic-type), 30%),
    0 16px 0 0 fade(var(--basic-type), 30%);
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list-item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 38px;
    right: 27px;
    width: 28px;
    height: 2px;
    background-color: var(--basic-type);
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__list-link,
.main-nav__search-input::placeholder {
  font-size: 17px;
  line-height: 141%;
  color: var(--basic-type);
  font-weight: bold;

  @media (max-width: $mobile-width-only) {
  }
}

.main-nav__search-input::placeholder {
  letter-spacing: 0.5px;
}

.main-nav__list-link,
.main-nav__search-input {
  display: block;
  text-decoration: none;
  border: none;
  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 76px;
  padding-right: 50px;
  border-color: var(--thin-border);
  border-top-style: solid;
  border-top-width: 1px;
  width: 100%;
  box-sizing: border-box;
}

.main-nav__search-input {
  padding-top: 30px;
  padding-bottom: 29px;
}

.main-nav__list-link,
.main-nav__search-form {
  position: relative;
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__main {
  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    left: 0;
    bottom: -81px;
  }
}

.main-nav__icon {
  position: absolute;
  top: 31px;
  left: 31px;
  opacity: 0.2;
}

.main-nav__search-n-cart {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
  }
}

.main-nav__extrabar {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav__emphasis {
  font-size: 15px;
  line-height: 160%;
  color: var(--light-type);
  display: none;
  position: absolute;
  right: 0;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
