.page-header__logo {
  display: block;
}

.page-header__logo-image {
  display: block;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-header__heading,
.page-header__emphasis {
  margin: 0;
  background-color: var(--light-background);
  font-weight: bold;
  font-size: 27px;
  line-height: 111%;
  padding-top: 73px;
  padding-bottom: 73px;
  padding-right: 36px;
  padding-left: 36px;
  text-align: center;
}

.page-header__emphasis {
  background-image: url("../img/hero-mobile@1x.jpg");
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.page-header__category-list {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}
