.page-form__emphasis {
  font-size: 13px;
  line-height: 185%;
  color: var(--light-type);
}

.page-form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-form__fieldset {
  border: none;
}

.page-form__legend {
  color: var(--main-theme);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 94%;
}

.page-form__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 106%;
}

.page-form__text-input::placeholder {
  font-size: 17px;
  line-height: 106%;
  columns: var(--basic-type);
  opacity: 0.3;
}

.page-form__footnote {
  font-size: 14px;
  line-height: 114%;
}
