.page-main__about {
  margin-bottom: 80px;

  @media (min-width: $tablet-width) {
    margin-bottom: 138px;
  }
}

.page-main__contacts {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}
