.page-footer {
  background-color: var(--light-background);
}

.page-footer__social::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--footer-mobile-divider);
}
