.page-footer {
  background-color: var(--light-background);

  @media (min-width: $tablet-width) {
    padding-top: 29px;
    padding-bottom: 36px;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__social {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid var(--footer-mobile-divider);
  }
}

.page-footer__logo {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  &:hover, &:focus {
    .page-footer__logo-image {
      fill: var(--main-theme-dark);
    }
  }

  &:active {
    .page-footer__logo-image {
      opacity: var(--link-opacity-down);
    }
  }
}
