.page {
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-type);
  font-size: 17px;
}

.page__wrapper {
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
  }

  @media (min-width: $tablet-width) {
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
  }
}

.page__heading {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 116%;
  }
}

.page__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page__zigzag-line {
  margin-bottom: 73px;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: -42px;
    display: block;
    width: 100%;
    height: 6px;
    background-image: url(../../img/bg-zigzag-line.svg);
    background-repeat: repeat no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 125px;

    &::after {
      height: 17px;
      background-size: 38.5px;
      bottom: -70px;
    }
  }
}
