.page-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-item__description {
  color: var(--light-type);
  font-size: 13px;
  line-height: 231%;
}

.catalog-item__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 160%;
}
