.social__list {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80px;

  @media (min-width: $tablet-width) {
    min-width: 181px;
    min-height: 75px;
  }
}

.social__list-item {
  min-width: 23%;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    min-width: 75px;
  }
}

.social__link {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    svg {
      fill: var(--main-theme-dark);
    }
  }

  &:active {
    svg {
      opacity: var(--link-opacity-down);
    }
  }
}
