@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"),
    local("OpenSans-Bold"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 118%;
  color: var(--light-type);
  text-decoration: none;
  background-color: transparent;
  border-style: solid;
  border-color: var(--basic-border);
  cursor: pointer;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
}
