:root {
  --clear-background: #ffffff;
  --light-background: #f1f1f1;
  --decorative-divider: var(--light-background);
  --footer-mobile-divider: #e5e5e5;
  --main-theme: #63d1bb;
  --theme-lines: #62d1ba;
  --category-light-background: var(--main-theme);
  --category-dark-background: #56c3b2;
  --category-icon: #149080;
  --basic-type: #000000;
  --basic-type-contrast: #ffffff;
  --light-type: #444444;
  --basic-border: var(--light-type);
  --thin-border: #ececec;
  --link-opacity-hover: 0.6;
  --link-opacity-down: 0.3;

}


$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
