:root {
// colors
  --clear-background: #FFF;
  --light-background: #F1F1F1;
  // --dark-background: #coming soon;
  --decorative-divider: var(--light-background);
  --footer-mobile-divider: #E5E5E5;
  --main-theme: #63D1BB;
  --theme-lines: #62D1BA;
  --category-light-background: var(--main-theme);
  --category-dark-background: #56C3B2;
  --category-icon: #149080;
  --basic-type: #000;
  --basic-type-contrast: #FFF;
  --light-type: #444;
  --basic-border: var(--light-type);
  --thin-border: #ECECEC;
// opacity
  --link-opacity-hover: 0.6;
  --link-opacity-down: 0.3;
}
